<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">
      <img src="../favicon.ico" alt="" height="50%" width="50%" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mynavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="mynavbar">
      <div class="d-flex">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="student">
              <button class="btn btn-sm btn-outline-primary border-0">
                <i class="bi bi-card-checklist"></i> Student List
              </button></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">
              <button class="btn btn-sm btn-outline-primary border-0">
                <i class="bi bi-database-add"></i> Add New Student
              </button></a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
